// @import "spinner";
@import "bootstrap-vars";
@import "bootstrap";

.ss-root {
  @extend .container-fluid;
}

header {
  @extend .row;
}

.ss-page-header {
  @extend .page-header;

  .ss-app-title {
    @extend .col-lg-7;
  }
  .ss-page-header-actions {
    @extend .col-lg-5;
    text-align: right;
    > * {
      display: inline-block;
      margin-right: 10px;
    }
    > *:last-child {
      margin-right: 0;
    }
  }
}

.ss-search-bar {
  @extend .col-lg-12;

  .ss-search-form {
    > * {
      display: inline-block;
      margin-right: 10px;
    }
    > *:last-child {
      margin-right: 0;
    }
    .ss-search-tips {
      padding: 5px;
    }
  }
}

button {
  @extend .btn;
  @extend .btn-default;
  // font-size: $font-size-h3;
}

section {
  // margin: 10px 0;
}

// /* reset styles */
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, font, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: 0;
//   font-size: 100%;
//   vertical-align: baseline;
//   background: transparent;
// }
// table, caption, tbody, tfoot, thead, tr, th, td {  /* breaking out table define, should not have background trasparent, breaks IE usage of BG on TR */
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: 0;
//   font-size: 100%;
//   vertical-align: baseline;
// }
// body {
//   line-height: 1;
// }
// ol, ul {
//   list-style: none;
// }
// blockquote, q {
//   quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
//   content: '';
//   content: none;
// }
//
// :focus {
//   outline: 0;
// }
//
// ins {
//   text-decoration: none;
// }
// del {
//   text-decoration: line-through;
// }
//
// /* tables still need 'cellspacing="0"' in the markup */
// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }
//
// /* global header */
// header.global {
//   height: 50px;
//   background-color: #DDDDDD;
// }
//
// header.global h1 {
//   padding: 10px 10px;
// }
//
// header.global .actions {
//   margin-top: 10px;
// }
//
// header.global .actions .login {
//   position: relative;
//   float: left;
//   width: 200px;
//   margin-top: 5px;
// }
//
// header.global .actions button {
//   position: relative;
//   float: right;
// }
//
// /* search section */
// section.search {
//   margin: 10px 0;
// }
//
// section.search input {
//   position: relative;
//   float: left;
//   width: 400px;
//   margin-right: 10px;
// }
//
// section.search button {
//   position: relative;
//   float: left;
//   margin-right: 10px;
// }
//
// section.search .tips {
//   position: relative;
//   float: left;
//   padding: 5px;
// }
//
// /* main section */
// section.main {
//   border-left: solid 1px #DDDDDD;
//   border-right: solid 1px #DDDDDD;
// }
//
// /* filters section */
// section.filters {
//   margin-top: 10px;
// }
//
// section.filters h2,
// section.filters>div {
//   margin-left: 10px;
// }
//
// section.filters div.date-placeholder {
//   width: 240px;
//   height: 150px;
//   background-color: #DDDDDD;
// }
//
// /* results section */
// section.results header {
//   width: 100%;
//   height: 30px;
//   margin-bottom: 10px;
//   border-bottom: solid 1px black;
//   z-index: -1000;
// }
//
// section.results h2 {
//   position: relative;
//   float: left;
// }
//
// section.results {
//   padding: 10px;
// }
//
// /* result section */
// section.result {
//   position: relative;
//   padding-left: 85px;
//   margin-bottom: 15px;
// }
//
// section.result div.votes {
//   position: absolute;
//   left: 0;
//   width: 60px;
//   height: 65px;
//   margin-top: 10px;
//   padding: 5px;
//   background-color: #DDDDDD;
// }
//
// section.result div.title {
//   padding: 10px 10px 5px 10px;
//   font-size: 16px;
// }
//
// section.result div.snippet {
//   padding: 5px 10px;
//   font-size: 16px;
// }
//
// section.result div.metadata {
//   min-height: 30px;
//   padding: 5px 10px;
//   margin-right: 5px;
// }
//
// section.result div.author {
//   position: relative;
//   float: right;
//   padding: 5px;
// }
//
// /* global footer */
// footer.global {
//   padding: 7px 0;
//   font-size: 14px;
//   background-color: #DDDDDD;
// }
//
// /* global styles */
// ul.sort {
//   position: relative;
//   float: right;
// }
//
// li.sort {
//   position: relative;
//   float: left;
//   top: 7px;
//   padding: 3px;
//   margin-right: 10px;
//   background-color: white;
// }
//
// li.sort.active {
//   font-weight: bold;
//   border: solid 1px black;
//   border-bottom: 0;
//   z-index: 1000;
// }
//
// ul.tags {
//   padding: 0;
// }
//
// li.tag {
//   position: relative;
//   float: left;
//   margin-right: 10px;
//   padding: 3px;
//   background-color: #DDDDDD;
// }
//
// h1 {
//   font-size: 24px;
//   margin: 0;
//   padding: 0;
// }
//
// h2 {
//   font-size: 20px;
//   margin: 0;
//   padding: 0;
// }
//
// h3 {
//   font-size: 18px;
//   margin: 0;
//   padding: 0;
// }
//
// button {
//   font-size: 20px;
// }
