// @import "spinner";
@import 'bootstrap-vars';
@import 'bootstrap';
@import 'dialogs/all';
@import 'directives/all';

.highcharts {
  height: 240px;
  min-width: 275px;
}

button {
  @extend .btn;
  @extend .btn-default;
}

form input,
form textarea {
  @extend .form-control;
}

.has-error {
  border: 1px solid #f00;
}

p.has-error {
  color: #f00;
  font-weight: bold;
}

.ss-main {
  @extend .main;
  @extend .row;
}

.ss-root {
  @extend .container;
}

/* Minimum width for all views */
$view-min-width: 1030px;

/*** GLOBAL HEADER ***/
.ss-page-header {
  @extend .page-header;
  @extend .col-lg-12;
  @extend .row;
  min-width: $view-min-width;
  .ss-app-title {
    position: relative;
    float: left;
  }
  .ss-page-header-actions {
    position: relative;
    float: right;
    text-align: right;
    > * {
      display: inline-block;
      margin-right: 10px;
    }
    > *:last-child {
      margin-right: 0;
    }
  }
}

/*** SEARCH BAR ***/
.ss-search-bar {
  @extend .col-lg-12;
  form {
    > * {
      display: inline-block;
    }
    input {
      width: 500px;
    }
    .ss-search-tips {
      margin-left: 10px;
      padding: 5px;
    }
  }
}


/*** EXPLORE VIEW ***/
.ss-explore {
  position: relative;
  min-width: $view-min-width;
  min-height: 650px;

  /* Container for fixed+fluid content */
  .ss-filters-results {
    @extend .col-lg-12;
    position: relative;
    padding-left: 290px;
  }

  .ss-filters {
    position: absolute;
    left: 0;
    width: 250px;
    padding-left: 15px;
    padding-right: 0;
    min-width: 275px;
    .ss-filters-date {
      header {
        width: 100%;
        display: inline-block;
        h3 {
          position: relative;
          float: left;
        }
        .ss-clear-date {
          position: relative;
          float: right;
          margin: 21px 30px 0 0;
          cursor: pointer;
        }
      }
      .form-control {
        display: inline-block;
        width:33%;
        padding: 6px 3px;
      }
    }
    .ss-filters-tags {
      header {
        width: 100%;
        display: inline-block;
        h3 {
          position: relative;
          float: left;
        }
        .ss-clear-tags {
          position: relative;
          float: right;
          margin: 21px 30px 0 0;
          cursor: pointer;
        }
      }
      .ss-facet-tags {
        input.ss-typeahead-input {
          display: block;
          clear: all;
          width: 202px;
          margin-bottom: 5px;
          font-size: 14px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }
      }
      .ss-open-all-tags {
        cursor: pointer;
        margin-top: 3px;
      }
    }
  }

  .ss-results {
    position: relative;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 0;
    max-width: 1100;
    header {
      width: 100%;
      display: inline-block;
      h2 {
        position: relative;
        float: left;
      }
      ul.ss-sort {
        position: relative;
        float: right;
        margin-top: 20px;
        li {
          margin-left: 10px;
          cursor: pointer;
        }
        li.ss-sort-active {
          font-weight: bold;
        }
      }
    }
    .ss-result {
      padding: 10px;
      padding-left: 80px;
      border-bottom: solid 1px black;
      .ss-votes {
        position: absolute;
        left: 0;
        width: 70px;
        height: 84px;
        background-color: #EEE;
        border: solid 1px #CCC;
        .ss-score, .ss-answers {
          padding: 0;
          label, span, .ss-divider {
            display: block;
            width: 100%;
            position: absolute;
            text-align: center;
            z-index: 20;
          }
        }
        .ss-score label {
          top: -2px;
        }
        .ss-score span {
          top: 14px;
          font-size: 18px;
        }
        .ss-answers label {
          top: 62px;
        }
        .ss-answers span {
          top: 43px;
          font-size: 18px;
        }
        .ss-divider {
          position: absolute;
          top: 40px;
          width: 60px;
          height: 1px;
          margin: 0 4px;
          background-color: black;
        }
        .ss-checked {
          position: absolute;
          top: 41px;
          left: 12px;
          width: 50px;
          height: 40px;
          z-index: 10;
          background-image:url('/app/images/checkmark.png');
        }
      }
    }
    .ss-result-title {
      @extend .title; // is this a bootstrap class?
    }
  }
}

/*** ASK VIEW ***/
.ss-ask {
  @extend .col-lg-12;
  min-width: $view-min-width;
  form {
    @extend .form-horizontal;
    @extend .form-inline;
    > * {
      display: block;
      margin-bottom: 10px;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    input {
      width: 500px;
    }
    .ss-markdown-editor {
      li {
        cursor: pointer;
      }
      img {
        margin:0 3px;
        cursor: pointer;
      }
      button {
        margin:0 6px;
        border:0px;
        &:hover {
          background-color: transparent;
        }
      }
      textarea {
        height:174px;
      }
      .divider {
        margin:0 6px;
        color:#D3D3D3;
      }
      .tab-content {
        height: 250px;
        padding:10px 16px;
        border:1px solid #ddd;
        border-top:0;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

/*** QNA DOCUMENT VIEW ***/
.ss-qnadoc {
  @extend .col-lg-12;
  min-width: $view-min-width;
  .ss-question,
  .ss-answer-section {
    padding: 10px;
    padding-left: 85px;
    .ss-vote {
      position: absolute;
      text-align: center;
      left: 15px;
      width: 60px;
      height: 76px;
      background-color: #EEE;
      border: solid 1px #CCC;
      .ss-up,
      .ss-down,
       {
        position: absolute;
        left: 3px;
        width: 50px;
        height: 18px;
        cursor: pointer;
      }
      .ss-up {
        top: 4px;
        background-image:url('/app/images/up.png');
      }
      .ss-down {
        top: 52px;
        background-image:url('/app/images/down.png');
      }
      span {
        position: absolute;
        display: block;
        width: 100%;
        top: 23px;
        font-size: 20px;
      }
    }
    .ss-metadata {
      min-height: 40px;
      border-bottom: solid 1px black;
    }
    .ss-comment {
      padding: 10px 0 10px 30px;
      border-bottom: solid 1px #AAAAAA;
    }
  }
  .ss-answers header {
    width: 100%;
    display: inline-block;
    h3 {
      position: relative;
      float: left;
    }
    ul.ss-sort {
      position: relative;
      float: right;
      margin-top: 20px;
      li {
        margin-left: 10px;
      }
      li.ss-sort-active {
        font-weight: bold;
      }
    }
  }

  .ss-answer-form {
    form > * {
      display: block;
      margin-bottom: 10px;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    input {
      width: 500px;
    }
    textarea {
      width: 700px;
      height: 200px;
    }
  }
}

//** GLOBAL FOOTER **
.ss-page-footer {
  @extend .row;
  @extend .text-center;
  min-width: $view-min-width;
  margin-top: 10px;
  padding: 10px;
}

/*** SORT/TAG LISTS ***/
ul.ss-sort, ul.ss-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    position: relative;
    float: left;
    cursor: pointer;
  }
  li.ss-sort-active {
    font-weight: bold;
  }
}

ul.ss-tags {
  li {
    margin-right: 10px;
    padding: 3px 5px;
    background-color: #EEE;
  }
}

/*** MISC GLOBAL ***/
.ss-metadata {
  > * {
    display: inline-block;
  }
}

.ss-author {
  position: relative;
  float: right;
  padding: 5px;
}

.ml-edit-tools {
  width: 400px;
  padding: 5px;
  margin-top: 10px;
  background-color: #DDD;
}

.ss-divider {
  width: 205px;
  height: 1px;
  margin: 5px 0;
  background-color: black;
}

.ss-typeahead-item {
  cursor: pointer;
}

.ss-column {
  position: relative;
  float: left;
}

.ss-paging {
  margin-top: 10px;
  clear: both;
}

.ss-facet-date-range {
  .highcharts-container {
  }
}

.ss-facet-date-range {


  .highcharts-container {

  }
}
