<section class="ss-dialog ss-dialog-login">

  <header>
    <button type="button" ng-click="cancel()">&times;</button>
    <h4>Log In</h4>
  </header>

  <div>
    <!-- @todo form tag should contain buttons and not conflict with styling -->
    <form class="form-inline">
      <div class="ss-login-userid">
        <label>User ID</label>
        <input type="text"
          form-control
          ng-model="model.user.username"
        />
      </div>
      <div class="ss-login-password">
        <label>Password</label>
        <input type="password"
          form-control
          ng-model="model.user.password"
        />
      </div>
    </form>
  </div>

  <footer>
    <button ng-click="cancel()">Cancel</button>
    <button ng-click="authenticate()">Log In</button>
  </footer>

</section>
