<section class="ss-dialog-login" style="position: relative; height: 100%; width: 100%">

  <header>
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4>Log In</h4>
  </header>

  <div class="modal-body">
    <div class="modal-body-inner">
      <form class="form-inline">
        <div class="ss-login-userid">
          <label>User ID</label> <input type="text" class="form-control" />
        </div>
        <div class="ss-login-password">
          <label>Password</label> <input type="password" class="form-control" />
        </div>
      </form>
    </div>
  </div>

  <footer>
    <button ng-click="cancel()">Cancel</button>
    <button ng-click="login()">Log In</button>
  </footer>

</section>
