<section class="ss-dialog ss-dialog-user">

  <header>
    <button type="button" ng-click="cancel()">&times;</button>
    <h4>Account Details</h4>
  </header>

  <div>
    <div class="ss-displayname">
      <label>Display Name</label> John Smith
    </div>
    <div class="ss-accounttype">
      <label>Account Type</label> Contributor
    </div>
    <div class="ss-created">
      <label>Date Created</label> April 1, 2014
    </div>
  </div>

  <footer>
    <button ng-click="cancel()">OK</button>
  </footer>

</section>
