<!-- @todo move form classes (.form-control, .btn, etc.) into sass without losing styling -->
<header class="ss-page-header">
  <div class="ss-app-title">
    <h1>
      <a ui-sref="root.layout.explore">samplestack</a>
    </h1>
  </div>
  <div class="ss-page-header-actions">
    <div class="ss-login">
      <a href="" ng-click="openLogin()">When not logged in</a> |
      <span class="dropdown">
        <a href="" class="dropdown-toggle">When logged in</a>
        <ul class="dropdown-menu">
          <li><strong>Email</strong> {{user.email}}</li>
          <li><strong>Account Type</strong> {{user.accountType}}</li>
        </ul>
      </span>
    </div>
    <button ng-click="ask()">Ask a Question</button>
  </div>
</header>

<section class="ss-main">
  <div ui-view></div>
</section>

<footer class="ss-page-footer">
  Copyright MarkLogic 2014
</footer>
