<section class="ss-search-bar">
  <form>
    <input type="text" ng-model="searchParams.value.queryText"/>
    <button ng-click="applyQueryText()">Search</button>
    <div class="ss-search-tips">Search Tips</label>
  </form>
</section>

<section class="ss-explore">

  <section class="ss-filters">
    <header>
      <h2>Filter Results</h2>
    </header>
    <div class="ss-filters-entries"><input type="checkbox" /> Show my entries only</div>
    <div class="ss-filters-resolved"><input type="checkbox" /> Show resolved only</div>
    <div class="ss-filters-date">
      <h3>Date</h3>
      <div ss-facet-date-range date-range-data="dateData"></div>
    </div>
    <section class="ss-filters-tags">
      <header>
        <h3>Tags</h3>
        <a href="" class="ss-clear-tags" ng-click="tagsScope.clearTags()">Clear</a>
      </header>
      <ss-facet-tags></ss-facet-tags>
      <div class="ss-open-all-tags" ng-click="openAllTags()">More...</div>
    </section>
  </section>

  <section class="ss-results">
    <header>
      <h2>Browsing Questions</h2>
      <ul class="ss-sort">
        <li class="ss-sort-active">relevance</li>
        <li>newest</li>
        <li>votes</li>
      </ul>
    </header>
    <section class="ss-result" ng-repeat="result in searchResults.value.results">
      <div class="ss-votes">votes</div>
      <div class="ss-result-title">
        <a ui-sref="root.layout.qnaDoc">Q: {{result.uri}}</a>
      </div>
      <p>This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet.</p>
      <div class="ss-metadata">
        <ul class="ss-tags">
          <li ng-repeat="tag in result.tags">{{tag}}</li>
        </ul>
        <div class="ss-author">asked {{dateDisplay(result.creationDate)}} by {{result.owner.displayName}} [{{result.owner.reputation}}]</div>
      </div>
    </section>
  </section>
</section>
