<section class="ss-search-bar">
  <form class="ss-search-form">
    <input type="text" />
    <button>Search</button>
    <div class="ss-search-tips">Search Tips</div>
  </form>
</section>

<!-- after this we haven't semantic-ized yet -->

<section class="content row">

  <section class="filters col-lg-3">
    <header>
      <h2>Filter Results</h2>
    </header>
    <div class="entries"><input type="checkbox" /> Show my entries only</div>
    <div class="resolved"><input type="checkbox" /> Show resolved only</div>
    <div class="date">
      <h3>Date</h3>
      <div class="date-placeholder">&nbsp;</div>
    </div>
    <div class="tags">
      <h3>Tags</h3>
      <div ng-repeat="facet in searchResults.facets">
        <div ng-switch="facet.name">
          <div ng-switch-when="tags">
            <div ng-repeat="item in facet.items">
              <input type="checkbox" /> {{item.name}} ({{item.count}})
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="results col-lg-9">
    <header class="row">
      <h2>Browsing Questions</h2>
      <ul class="sort">
        <li class="sort active">relevance</li>
        <li class="sort">newest</li>
        <li class="sort">votes</li>
      </ul>
    </header>
    <section class="result" ng-repeat="result in searchResults.results">
      <div class="votes">votes</div>
      <div>
        <div class="title"><a ui-sref="root.layout.qnaDoc">Q: {{result.title}}</a></div>
        <div class="snippet">This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet. This is a result snippet.</div>
      </div>
      <div class="metadata">
        <ul class="tags col-lg-8">
          <li ng-repeat="tag in result.tags" class="tag">{{tag}}</li>
        </ul>
        <div class="author col-lg-4 text-right">asked {{dateDisplay(result.creationDate)}} by {{result.owner.displayName}} [{{result.owner.reputation}}]</div>
      </div>
    </section>
  </section>

</section>
